<a href="https://colab.research.google.com/github/rubabshz/Rubab_INFO5731_Spring2020/blob/main/Rubab_In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [ ]:
###################################### 1.1 ######################################
#Number of sentences
#Number of words
#Number of characters
#Average word length
#Number of stopwords
#Number of special characters
#Number of numerics
#Number of uppercase words

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [140]:
! pip install beautifulsoup4
! pip install pandas
import urllib.request
import pandas as pd
import nltk 
import re

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
from nltk.stem.wordnet import WordNetLemmatizer

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [193]:

########################### 1.1 ################################################
link = "/content/legal_case.csv"
#page = urllib.request.urlopen(link)
tanner=pd.read_csv(link, error_bad_lines=False, names=['Sentences'])

############################### Number of Sentences ############################
print("Total sentences in the file are :", len(tanner['Sentences']))

############################### Number of Words ################################
tanner['Word_count'] = tanner['Sentences'].apply(lambda x: len(str(x).split(" ")))
#tanner[['Sentences']].head()
#text_data['char_count'] =data['Text'].str.len()
tanner[['Sentences','Word_count']].head()

##############################  Number of characters  ##########################
tanner['char_count'] = tanner['Sentences'].str.len()
tanner[['Sentences', 'Word_count', 'char_count']].head()


############################## Average Word Length #############################
def avg_len(sentence):
    words = sentence.split()
    if len(words)!=0:
       return (sum(len(word) for word in words)/len(words))
    else:
       return 0

tanner['avg_len'] = tanner['Sentences'].apply(lambda x: avg_len(x))
tanner[['Sentences', 'Word_count', 'char_count', 'avg_len']].head()

########################### Number of Stop words ###############################

stop = stopwords.words('english')

tanner['stop_words'] = tanner['Sentences'].apply(lambda x: len([x for x in x.split() if x in stop]))
tanner[['Sentences', 'Word_count', 'char_count', 'avg_len', 'stop_words']].head()

########################  Number of Special Characters #########################

tanner['special_char'] = tanner["Sentences"].apply(lambda x: len([x for x in x.split() if x.startswith(('#','@', '!'))]))     
tanner[['Sentences', 'Word_count', 'char_count', 'avg_len', 'stop_words', 'special_char']].head()


########################  Number of numerics ####################################

tanner['numerics'] = tanner['Sentences'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
tanner[['Sentences', 'Word_count', 'char_count', 'avg_len', 'stop_words', 'numerics']].head()

####################### Number of Upper case words #############################

tanner['U_case'] = tanner['Sentences'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
tanner[['Sentences', 'Word_count', 'char_count', 'avg_len', 'stop_words', 'numerics','U_case']].head()

Total sentences in the file are : 148

                   Sentences  Word_count  ...  numerics  U_case
0                 5 Ala. 740           3  ...         2       0
1  Supreme Court of Alabama.           4  ...         0       0
2                      ADAMS           1  ...         0       1
3                         v.           1  ...         0       0
4         TANNER AND HORTON.           3  ...         0       3

[5 rows x 7 columns]

In [149]:
################################## 1.2 ###################################
'''
Lower casing
Punctuation removal
Stopwords removal
Frequent words removal
Rare words removal
Spelling correction
Tokenization
Stemming
Lemmatization'''

'\nLower casing\nPunctuation removal\nStopwords removal\nFrequent words removal\nRare words removal\nSpelling correction\nTokenization\nStemming\nLemmatization'

In [174]:
##################################  1.2 ################################

######################## Lower casing ##################################

tanner['Sentences'] = tanner['Sentences'].apply(lambda x: " ".join(x.lower() for x in x.split()))    
tanner['Sentences'].head()

0                   5 ala. 740
1    supreme court of alabama.
2                        adams
3                           v.
4           tanner and horton.
Name: Sentences, dtype: object

In [175]:
######################## Punctuation Removal ##########################

tanner['Sentences'] = tanner['Sentences'].str.replace('[^\w\s]','')
tanner['Sentences'].head()

0                   5 ala 740
1    supreme court of alabama
2                       adams
3                           v
4           tanner and horton
Name: Sentences, dtype: object

In [176]:
####################### Stop words removal ############################

stop = stopwords.words('english')
tanner['Sentences'] = tanner['Sentences'].apply(lambda x: " ".join(x for x in x.split() if x not in stop ))
tanner['Sentences'].head()

0                5 ala 740
1    supreme court alabama
2                    adams
3                        v
4            tanner horton
Name: Sentences, dtype: object

In [177]:
###################### Frequent words removal #########################
freq = pd.Series(' '.join(tanner['Sentences']).split()).value_counts()[:10]
freq = list(freq.index)
tanner['Sentences'] = tanner['Sentences'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
tanner['Sentences'].head()

0                740
1    supreme alabama
2              adams
3
4      tanner horton
Name: Sentences, dtype: object

In [178]:
###################### Rare words removal #############################

freq = pd.Series(' '.join(tanner['Sentences']).split()).value_counts()[-10:]
freq = list(freq.index)
tanner['Sentences'] = tanner['Sentences'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
tanner['Sentences'].head()

0                740
1    supreme alabama
2              adams
3
4      tanner horton
Name: Sentences, dtype: object

In [179]:
######################### Spelling correction #########################
from textblob import TextBlob
tanner['Sentences'] = tanner['Sentences'][:5].apply(lambda x: str(TextBlob(x).correct()))
tanner['Sentences'].head()

0                740
1    supreme alabama
2              adams
3
4      manner norton
Name: Sentences, dtype: object

In [180]:
####################### Tokenization #################################
TextBlob(tanner['Sentences'][1]).words

WordList(['supreme', 'alabama'])

In [181]:
########################## Stemming ##################################
st = PorterStemmer()
tanner['Sentences'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0               740
1    suprem alabama
2              adam
3
4     manner norton
Name: Sentences, dtype: object

In [188]:

######################## Lemmatization ###############################
from textblob import Word
import nltk
nltk.download('wordnet')

tanner['Sentences'] = tanner['Sentences'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
tanner['Sentences'].head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0                   5 Ala. 740
1    Supreme Court of Alabama.
2                        ADAMS
3                           v.
4           TANNER AND HORTON.
Name: Sentences, dtype: object

In [195]:
#################### 1.3 ##############################################
tanner.to_csv('Cleaned_Legal_case.csv', index=False)

In [194]:
####################  1.4 ##############################################
#Calculate the term frequency of all the terms.
#Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

############ Top 10 1-gram, 2-gram, and 3-gram terms as features ###########
TextBlob(tanner['Sentences'][0]).ngrams(1)
TextBlob(tanner['Sentences'][0]).ngrams(2)
TextBlob(tanner['Sentences'][0]).ngrams(3)


#import pandas as pd
#from sklearn.feature_extraction.text import TfidfVectorizer

#link1="Cleaned_Legal_case.csv"
#tanner=pd.read_csv(link1,error_bad_lines=False,names=['Sentences'])

#tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', stop_words= 'english', ngram_range = (1,3))
#tfs = tfidf.fit_transform(tanner['Sentences'])

#print(tfidf.get_feature_names())

[WordList(['5', 'Ala', '740'])]

In [189]:
############# Term Frequency #############
tf1 = (tanner['Sentences'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis= 0).reset_index()
tf1.columns = ['terms', 'tf']
tf1

      terms  tf
0        of   1
1     Court   1
2  Alabama.   1
3   Supreme   1

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [ ]:
ip = "260.08.094.109"
zeros_removed = re.sub('\.[0]*','.', ip)
print(zeros_removed)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [ ]:
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
extracted_years = re.findall(r'2\d\d\d', sentence)
print(extracted_years)

['2010', '2010', '2019']