<a href="https://colab.research.google.com/github/rubabshz/Rubab_INFO5731_Spring2020/blob/main/Rubab_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
x = "This is a sample string"
print(len(x))

23

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here

#b = print((char_frequency('google.com')))
#OR

from collections import Counter 

string = "google.com"
result = Counter(string) 
print(result)

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# write your answer here
def sum_of_list(items):
  sum = 0
  for n in items:
   sum += n
  return sum
print(sum_of_list([1, 2, 3, 4, 5, 6, -2]))

19

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def new_String(sampleStr):
  char = sampleStr[0]
  sampleStr = sampleStr.replace(char, '$')
  sampleStr = char + sampleStr[1:]
  return sampleStr

print(new_String('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [124]:
# write your answer here
def error(error_desc):
      print(error_desc)
      
def S_formula(a,b):
  if b ==0:
    error("Zero Division Error") 
  s = 3.14*(1 + a/b)**3
  return s
      
par_a= int(input("Enter value of a: "))
par_b = int(input("Enter value of b: "))

print('Expected value: ', S_formula(par_a,par_b))

Enter value of a: 12
Enter value of b: 4
Expected value:  200.96

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic4 = {}
for a in (dic1,dic2, dic3): dic4.update(a)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [125]:
# write your answer here
Tuple_X = (1, 2, 3, 4)
print('X' in Tuple_X)
print(2 in Tuple_X)

False
True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [108]:
# write your answer here
randomSet = {4,70,54,12,43,76,45,98}
maxNumber = max(randomSet)
minNumber = min(randomSet)
print('Maximum: ', maxNumber)
print('Minimum: ', minNumber)

Maximum:  98
Minimum:  4

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [123]:
# write your answer here
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
t_groups = []
for i in range(5):
 t_groups.append(random.randint(3,5))
for j in range(5):
 sample_stds = random.sample(student_list,t_groups[j-1])
 student_list = [j for j in student_list if j not in sample_stds]
 print("Group " +str(j+1)+": ", sample_stds)

Group 1:  ['rrk0058', 'at0768', 'snd0097', 'ss1995']
Group 2:  ['msp0174', 'vmb0067', 'sg0940', 'tv0119', 'rs0850']
Group 3:  ['ds0761', 'nm0547', 'pn0159', 'pc0353']
Group 4:  ['at0739', 'dy0091', 'bk0301']
Group 5:  ['dd0420', 'spk0057', 'mv0299', 'yye0005', 'vl0135']